<!-- PATH: views/animals/index.ejs -->

<%- include('../partials/header') %>

 <h2>Pet List</h2>
 <table id="list">
   <thead>
     <tr>
       <th>Pet Image</th>
       <th>Pet Type</th>
       <th>Pet Temperament</th>
       <th>Pet Size</th>
       <th>Pet Color</th>
       <th>Pet Gender</th>
       <th>Pet Age</th>
       <th>Pet Environment</th>
       <th>Action</th>  <!-- Add a new column for the delete button -->
     </tr>
   </thead>
   <tbody>
     <!-- Write the line of EJS to iterate over pets using forEach -->
     <% pets.forEach( p => {  %>
     <tr>
      <td><img src="<%= p.petImage %>" id="petThumbnail" alt="Pet Image"></td>
         <td><%= p.petType %></td>
         <td><%= p.petTemperament %></td>
         <td><%= p.petSize %></td>
         <td><%= p.petColor %></td>
         <td><%= p.petGender %></td>
         <td><%= p.petAge %></td>
         <td><%= p.petEnvironment %></td>
         <td>
         <% if (p.isAvailable === true) { %>
            <td><form 
              action="/pets/<%= p._id %> "method="POST">
              <button id="pickMeBtn">Pick Me</button>
            </form>
          <% } %>
          <!-- when pick me is clicked add the pet to the user, then show the invoice -->
          </td>
          <!-- Add a new column with the delete form -->
      <td>
        <form
          action="/pets/<%= p._id %>?_method=delete"
          method="POST"
          onsubmit="return confirm('Are you sure you want to delete this pet?');"
        >
          <button id="deleteBtn" type="submit">Delete</button>
        </form>
      </td>
    </tr>
    <!-- Close the forEach using EJS here -->
    <% }) %>
  </tbody>
</table>



 
 <%- include('../partials/footer') %>