<!-- PATH: views/animals/invoice.ejs -->

<%- include('../partials/header') %>

<h1>Your Foster pets!</h1>

<h2>User Information</h2>
<table id="userInfoTable">
  <thead>
    <tr>
      <th>User First Name</th>
      <th>User Last Name</th>
      <th>Email Address</th>
      <th>Phone Number</th>
      <th>City</th>
      <th>State</th>
      <th>Postal Code</th>
      <th>Foster Start Date</th>
      <th>Foster Length</th>
    </tr>
  </thead>
  <tbody>

    <tr>
      <td><%= user.userInfo.firstName %></td>
      <td><%= user.userInfo.lastName %></td>
      <td><%= user.userInfo.emailAddress %></td>
      <td><%= user.userInfo.phoneNo %></td>
      <td><%= user.userInfo.address.city %></td>
      <td><%= user.userInfo.address.fosterState %></td>
      <td><%= user.userInfo.address.postalCode %></td>
    </tr>
  </tbody>
</table>

<h2>Fostered Pets</h2>

<%- include('../partials/footer') %>