
<section id="detail-page">
    <div>Pet Type:</div>
    <div><%= pet.petType %></div>

    <div>Pet Classification:</div>
    <div><%= pet.petClassification %></div>

    <div>Pet Sex:</div>
    <div> <%= pet.petSex %></div>

    <div>Pet Age:</div>
    <div><%= pet.petAge %></div>
</section>

  <!-- fosterer information Form -->
<section>
    <br><br><h2>Add/Update Foster Information</h2>
    <form id="add-foster-form" method="POST"
      action="/pets/<%= pet._id %>/fosters">
        <label>Name of Fosterer:</label>
        <input type="text" name="fosterer"></input>

        <label for="petDOB">Pet Birthday:</label>
        <input
            type="datetime-local"
            id="foster-id"
            name="foster-date-time"
            value="2023-11-18T19:30"
            min="1903-11-07T00:00"
            max="2030-11-14T00:00" />

        <input type="submit" value="Add Foster">
    </form>
</section>

<!-- Show a list of the fosters for the pet selected -->
<section>
    <% if (pet.fosters.length) { %>
      <table>
        <thead>
          <tr>
            <th>Fosterer name</th>
            <th>Pet Birthday</th>
          </tr>
        </thead>
        <tbody>
          <% pet.fosters.forEach(function(a) { %>
            <tr>
              <td><%= a.fosterer %></td>
              <td><%= d.fosterDate %></td>
            </tr>
          <% }); %>
        </tbody>
      </table>
    <% } else { %>
      <h5>There are no fosters yet :( )...</h5>
    <% } %>
  </section>

<%- include('./partials/footer') %>